<section class="section__seccionnosotros">
    <article class="section__seccionnosotros__article">
        <div class="section__seccionnosotros__article__div">
            <h3 class="section__seccionnosotros__article__div__h3">Nosotros</h3>
            <p class="section__seccionnosotros__article__div__p">
                Empresa líder en sector automotriz con más de 37 años de experiencia enfocada en ofrecer viajes seguros a millones de colombianos, generando ganancias, soluciones y seguridad a los aliados conductores. En Taxis Libres creemos firmemente que la innovación en la movilidad de las principales ciudades del país es uno de los caminos para el desarrollo sostenible de Colombia. 
            </p>
            <button class="section__seccionnosotros__article__div__button">Saber Más</button>
        </div>
    </article>
    <article class="section__seccionnosotros__article">
        <img class="section__seccionnosotros__article__img" src="/assets/img/equipotaxislibres.webp" alt="">        
    </article>
</section>
