<section class="section__seccioninscripcion">
    <article class="section__seccioninscripcion__article">
        <div class="section__seccioninscripcion__article__div">
            <h3 class="section__seccioninscripcion__article__div__h3">Inscríbite Aquí!</h3>
            <form action="" method="get" class="section__seccioninscripcion__article__div__form">
                <input class="section__seccioninscripcion__article__div__form__input" type="text" placeholder="Nombre">
                <input class="section__seccioninscripcion__article__div__form__input" type="text" placeholder="Apellidos">
                <input class="section__seccioninscripcion__article__div__form__input" type="text" placeholder="Correo">
                <input class="section__seccioninscripcion__article__div__form__input" type="text" placeholder="Teléfono">
                <input class="section__seccioninscripcion__article__div__form__input" type="text" placeholder="Dirección">
                <button class="section__seccioninscripcion__article__div__form__button" type="submit">Procesar Inscripción</button>
            </form>
            
        </div>
    </article>
    <article class="section__seccioninscripcion__article section__seccioninscripcion__article--social">
        <img class="section__seccioninscripcion__article__img" src="/assets/img/logo-Taxis-Libres.png" alt="">
        <div class="section__seccioninscripcion__article__div">
            <h3 class="section__seccioninscripcion__article__div__h3">Descarga Nuestra App</h3>
            <img class="section__seccioninscripcion__article__img" src="/assets/img/google-boton-azul.png" alt="">
            <img class="section__seccioninscripcion__article__img" src="/assets/img/huewei-boton-azul.png" alt="">
            <img class="section__seccioninscripcion__article__img" src="/assets/img/ios-boton-azul.png" alt="">
        </div>
    </article>
</section>

