<section class="section__secciontestimonios">
    <h3 class="section__secciontestimonios__h3">Testimonios</h3>
    <article class="section__secciontestimonios__article">
        
        <div class="section__secciontestimonios__article__div">
            <img class="section__secciontestimonios__article__div__img" src="/assets/img/1.png" alt="">
            <p class="section__secciontestimonios__article__div__p">
                "Empresa líder en sector automotriz con más de 37 años de experiencia enfocada en ofrecer viajes seguros a millones de colombianos."
            </p>
        </div>
        <div class="section__secciontestimonios__article__div">
            <img class="section__secciontestimonios__article__div__img" src="/assets/img/2.png" alt="">
            <p class="section__secciontestimonios__article__div__p">
                "Empresa líder en sector automotriz con más de 37 años de experiencia enfocada en ofrecer viajes seguros a millones de colombianos."
            </p>
        </div>
        <div class="section__secciontestimonios__article__div">
            <img class="section__secciontestimonios__article__div__img" src="/assets/img/3.png" alt="">
            <p class="section__secciontestimonios__article__div__p">
                "Empresa líder en sector automotriz con más de 37 años de experiencia enfocada en ofrecer viajes seguros a millones de colombianos."
            </p>
        </div>
    </article>
</section>

