<section class="section__segundaseccion">
    <article class="section__segundaseccion__article section__segundaseccion__article--imgfondo">
        
    </article>
    <article class="section__segundaseccion__article">
        <div class="section__segundaseccion__article__div">
            <h3 class="section__segundaseccion__article__div__h3">¿Donde y cuándo es?</h3>
            <p class="section__segundaseccion__article__div__p">
                Se llevará a cabo en la ciudad de Bogotá en a semana del 25 al 29 de Abril de 2022. Te esperamos.
            </p>
            <button class="section__segundaseccion__article__div__button">Participar</button>
        </div>
    </article>
</section>

