<section class="section__primeraseccion">
    <article class="section__primeraseccion__article">
        <div class="section__primeraseccion__article__div">
            <h3 class="section__primeraseccion__article__div__h3">¿Qué es?</h3>
            <p class="section__primeraseccion__article__div__p">
                Es un evento gratuito y 100% digital que dio solucion a una serie de retos reales sobre movilidad en el país y en el que participaron más de 540 personas de diferentes regiones de Colombia y del mundo.
            </p>
        </div>
    </article>
    <article class="section__primeraseccion__article section__primeraseccion__article--imgfondo">
        
    </article>
</section>
